$superLightGray:(rgb(223, 223, 231));
$orange:(#fc5200);
$dark:(rgb(36,36,40));

.woFormTitle{
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 0;
}
.workoutFormlabel{
  color: #242428;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
}
.topWorkoutForm{
  display: flex;
}
.midWorkoutForm{
  display: flex;
}
.lowWorkoutForm{
  display: flex;
}

.workoutCreatebutton{
  background-color: #fc5200;
  border-color: #fc5200;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
}