$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));


.workoutIndexHeader{
  background-color: $superLightGray;
}

.workoutList{
  margin: auto 0;
}

th, td {
  padding: 15px
};

table, th {
  border-bottom: 1px solid rgb(198, 198, 204); 
};

