$superLightGray:(rgb(223, 223, 231));
$orange:(#fc5200);
$dark:(rgb(36,36,40));

#workoutFormBody{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.woFormTitle{
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 0;
  padding: 10px 0;
  position: relative;
  right: 155px;
}
.workinput{
  padding-left: 10px;
}
.workoutFormlabel{
  color: #242428;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.topWorkoutForm{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid $superLightGray;
  padding-bottom: 20px;
  padding-top: 20px;
}
.midWorkoutForm{
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid $superLightGray;
  flex-direction: column;
  padding-bottom: 20px;
}

.midWorkoutForm-top{
  display: flex;
  justify-content:space-between;
  
}
.lowWorkoutForm{
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
}

.workoutCreatebutton{
  background-color: #fc5200;
  border-color: #fc5200;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  margin-right: 22px;
}

.workoutCreatebutton:disabled{
  background-color: gray;
  border-color: black;
}

.woTimeEntry{
  padding: 0
}

.timeInpute{
text-align: right;
width: 65px;
border: $superLightGray 1px solid;
height: 34px;
font-size: 14px;
padding: 1px 32px 1px 10px;
display: flex;
}

.timeinputAreas{
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.routeOptions{
  border: $superLightGray 1px solid;
  height: 38px;
  font-size: 14px;
}

.routeOptions .select-selected{
  border: $superLightGray 1px solid;
  height: 34px;
  font-size: 14px;
}
.routeOptions .select-selected::after{
  border: $superLightGray 1px solid;
  height: 34px;
  font-size: 14px;
}
.routeOptions .select-items{
  border: $superLightGray 1px solid;
  height: 34px;
  font-size: 14px;
}


.wOforminput{
  border: $superLightGray 1px solid;
  height: 34px;
  font-size: 16px;
  padding-left: 10px;
 }

 #workDescBox{
   width: 500px;
   height: 100px;
  font-size: 16px;
 }

 .cancelButton{
   text-decoration: none;
   color: blue;
   font-size: 14px;
 }

 #run_type{
   width: 120px
 }
 #date_entry{
   width: 200px;
   text-align: center;
 }