$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));


#workoutIdxBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30%;
}

#workoutIdxBodyTop{
  position: relative;
  right: 15.5%;
}

.workoutIndexTitle{
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 0;
}

.workoutCount{
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.workoutTable{
  margin: 0 auto ;
  font-size: 14px;
}

.workoutIndexHeader{
  background-color: $superLightGray;
}

#workOutRow{
  border-bottom: 1px solid $superLightGray;
}

.workoutList{
  margin: auto 0;
}

th, td {
  padding: 15px
};

table, th {
  border-bottom: 1px solid rgb(198, 198, 204); 
};

.workoutIdxLinks {
  color: #007FB6;
}
.workoutIdxLinks:hover {
    cursor: pointer;
    text-decoration: underline;
}

.workoutIdxLinks a{
  text-decoration:none ;
  color:#007FB6;
}

.workoutindexColumn{
  display: flex;
  flex-direction:column;
}

th{
  padding-right: 100px;
}