$superLightGray:(rgb(223, 223, 231));
$offwhite:(rgb(247, 247, 250));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));


// *{
//   background: $offwhite;
// }
.main_dash{
  background-color: $offwhite;
  
}
.dash_body{
  display: flex;
  font-size: 24px;
  
}

.dash_profile{
  display: flex;
  padding-top: 20px;
  justify-content:center
}

.activityFeed{
  display: flex;
  flex-direction: column;
}

.workoutFeedList{
  background-color: white;
}

// body {
//     background: $superLightGray;
//     width: 100%;
//     min-height:100vh;
//     background-size: cover; 
//   }

.dash_profile_body{
  display: flex;
  justify-content: center;
  // align-items: center;
  // position: relative;
  // left: 500px;
 
}

#workoutfeed{
  font-size: 17px;
  font-weight: 400px;
  right: 222px;
  position: relative;
  padding-bottom: 20px;
  margin-left: 20px;
}

.feed{
  background-color: white;
  // border: black 1px solid;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 0px 8px 24px rgba(13, 13 ,18, 0.1);
  // padding: 0px, 23;
  margin: 0px 0px 12px;
  height:480px;
  width: 550px;
}

#dashExtras{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  width: 186px;
  position: relative;
  bottom: 30px;
  
}

.dashExtrasTitle{
  font-size: 15px;
  padding-top: 70px;
}
.dashExtrasBody{
  font-size: 12px;
  padding-top: 17px;
}