$superLightGray:(rgb(223, 223, 231));
$offwhite:(rgb(247, 247, 250));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));

.activityFeed{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}

#feedCard{
  padding-left: 20px;
}

#feedEmail{
margin-left: 50px;
font-size: 14px;
}

#feedCardMid{
  padding-top: 15px;
  display: flex;
}

#runnerIcon{
  font-size: 30px;
}

#personRunning{
  font-size: 23px;
  margin-left: 4px;
}

#feedTitle{
  font-size: 22px;
  margin-left: 50px;
  text-decoration: none;
  color: black
}
#feedTitle:hover{
  color: gray
}

#feedDescription{
  font-size: 14px;
  margin-left: 73px;
  padding-top: 15px;
}

#feedTime{
  padding-top: 15px;
  margin-left: 72px;
}
#feedTimeTime{
  font-size: 12px;
}
#feedTimenums{
  font-size: 20px;
}

#routefeedImage{
  width: 96%;
  height: 218px;
  margin-top: 50px;
  border: solid 1px $superLightGray;
}

#feedCardTop{
  display: flex;
  padding-top: 10px;
}

#feedCardMid{
  display: flex;
}

#trophy{
  font-size: 27px;
  margin-left: 215px;
  margin-top: 20px;

}