$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));
$superdarkgray:(rgb(74,74,80));

#rtIdxBody{
  width: 1200px;
  margin: auto;
  padding-bottom: 15%;
}

.routeIndexTitle{
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 20px;
}

.routeIndexCreate{
  background-color: #fc5200;
  border-color: #fc5200;
  color:white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 16px;
  min-height: 34px;
}

.routeIndexCreate a{
  color: white;
  text-decoration: none;
}

.routeIndexTop{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 25px;
}

.routeIndexTopLeft{
  display: flex;
  flex-direction:column;    
  margin-right: 350px;
}

.routeIndexTopRight{
  display: flex;
}

.routeIndexList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.routeIndexFinePrint{
  color: #242428;
  font-size: 14px;
  line-height: 1.45;
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 60%;
  position: relative;
  right: 80px;
  top: 20px;
}

#routeIndexFinePrint{
  display: flex;
  justify-content: flex-end;
}

.routeIdxItem{
  display: block;
  float: left;
  position: relative;
  margin: 0 1.6% 40px 0;
  background-color: #f7f7f7;
}

.rtIdxTitle{
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #007FB6;
  text-decoration: none;
}

.rtIdxDistanceGroup{
  display: flex;
  padding-top: 30px;
}

#rtIdxDistanceGroup{
  display: flex;
  flex-direction:column
}

.rtIdxDistance{
  display: block;
  font-size: 12px;
  color: #6d6d78;
  margin: 0;
}

.rtIdxDistanceNum{
  display: block;
  font-weight: 300;
  font-size: 24px;
  // line-height: 1.2em;
}

.rtIdxDistanceMi{
  font-size: 15.6px;
}

.routeIndexImage{
  width: 275px;
  height: 200px;
  padding-bottom: 15px;
}

#routeCardBottom{
  margin-left: 20px;
}

//``````````````````````````````````````````dropdown setup 
.dropbtnRt {
  color: $superLightGray;
  padding: 10px;
  font-size: 10px;
  border: none;
  display: flex;
  justify-content:flex-end;
  background-color: white;
  position: absolute;
  z-index: 10;
  right: 1px;
  bottom: 115px;

}

/* The container <div> - needed to position the dropdown content */
.dropdownRt {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown_contentRt {
  display: none;
  position: absolute;
  bottom: 68px;
  background:white;
  min-width: 160px;
  z-index: 20;
  border-bottom: $superLightGray solid 1px;
  border-right: $superLightGray solid 1px;
  border-left: $superLightGray solid 1px;
}

/* Links inside the dropdown */
.dropdown_contentRt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}

.dropdownRt:hover .dropdown_contentRt {
  display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownRt:hover .dropbtnRt {
  border-left: $superLightGray solid 1px;
  border-right: $superLightGray solid 1px;
  color:$superdarkgray
}  

#create_dropdownRt {
  position:absolute;
  right: 8px;
}

.dropdown_contentRt a:hover {
  background-color: $superLightGray
}

