$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));
$superdarkgray:(rgb(74,74,80));

.routeIndexTitle{
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
}

.routeIndexCreate{
  background-color: #fc5200;
  border-color: #fc5200;
  color:white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 16px;
  min-height: 34px;
}

.routeIndexCreate a{
  color: white;
  text-decoration: none;
}

.routeIndexTop{
  display: flex;
  justify-content:space-around;
  padding-top: 20px;
}

.routeIndexTopLeft{
  display: flex;
  flex-direction:column;
}

.routeIndexTopRight{
  display: flex;
}

.routeIndexList{
  display: flex;
  justify-content:space-around
}

.routeIndexFinePrint{
    color: #242428;
    font-size: 14px;
    line-height: 1.45;
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 60%;
}

.routeIdxItem{
  display: block;
  float: left;
  position: relative;
  width: 23.4%;
  margin: 0 1.6% 40px 0;
  background-color: #f7f7f7;
}


.rtIdxTitle{
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #007FB6;
  text-decoration: none;
}

.rtIdxDistanceGroup{
  display: flex;
}

.rtIdxDistance{
  display: block;
  font-size: 12px;
  color: #6d6d78;
  margin: 0;
}

.rtIdxDistanceNum{
  display: block;
  font-weight: 300;
  font-size: 24px;
  // line-height: 1.2em;
}

.rtIdxDistanceMi{
  font-size: 15.6px;
}




//dropdown setup 
.dropbtnRt {
  color: $superLightGray;
  padding: 10px;
  font-size: 10px;
  border: none;
  display: flex;
  justify-content:flex-end;
  background-color: white;

}

/* The container <div> - needed to position the dropdown content */
.dropdownRt {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown_contentRt {
  display: none;
  position: absolute;
  background:white;
  min-width: 160px;
  z-index: 1;
  border-bottom: $superLightGray solid 1px;
  border-right: $superLightGray solid 1px;
  border-left: $superLightGray solid 1px;
}

/* Links inside the dropdown */
.dropdown_contentRt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}

.dropdownRt:hover .dropdown_contentRt {
  display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownRt:hover .dropbtnRt {
  border-left: $superLightGray solid 1px;
  border-right: $superLightGray solid 1px;
  color:$superdarkgray
}  

#create_dropdownRt {
  position:absolute;
  right: 8px;
}

.dropdown_contentRt a:hover {
  background-color: $superLightGray
}

