$superLightGray:(rgb(223, 223, 231));
$orange:(rgb(252,82,12));
$dark:(rgb(36,36,40));

.form_background{
  // border: black 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  // position: relative;
  // top: 150px;
  width: 400px;
  // height: 500px;
  // background:rgba(0,0,0,0.75);
  margin: 0 auto;
  // font-family: Arial, Helvetica, sans-serif;
  // border: black solid;
  // border-radius: 2px;
  // z-index: 0;
}


.form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 150px;
  width: 400px;
  height: auto;
  background:rgba(0,0,0,0.75);
  font-family: Arial, Helvetica, sans-serif;
  border: black solid;
  border-radius: 2px;
}

.form_title{
  background:rgba(0,0,0,0.85);
  font-size: 34px;
  color: white;
  text-align: center;
  width:-webkit-fill-available;
  padding-top: 25px;
  padding-bottom: 20px;

}

.session_form_lines{
  width: 300px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0px;
  opacity: 1;
  border-radius: 4px;
}

.session_form_lines a:hover{
    cursor: pointer;
  }


.form_body{
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#session_form_demo{
  color: black;
  text-decoration: none;
  background-color: white;
  opacity: 1;
}
 #session_form_demo a{
    color: black;
    text-decoration: none;
  }
 
// .session_form{
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: space-between;
//   text-align: center;
//   color: white;
  
// }

#form_input{
  background:rgba(0,0,0,0.5);;
  border: $superLightGray solid 1px;
  border-radius: 2px;
  color: white;
  font-weight: 200;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  margin-bottom: 16px;
}

.orSwitch{
  font-size: 17px;
  color:rgba(235, 235, 235, .8);
  margin-bottom: 25px;
}

#session_button{
  background-color:$orange;
  color: white;
  text-decoration: none;
  margin: 25px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-top: 50px;

}
  #session_button a{
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
    font-weight: 50px;
    font-size:15;
  }
 #session_button a:hover{
    cursor: pointer;
  }

.background_image{
  background-image: image_url('jog.jpg');
  background-size: cover;
  background-position: center;
  height: 900px;
  position: relative;
  
}

.error_message{
  // position: absolute;
  color: white;
  background: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: -webkit-fill-available;

}

.session_fine_print{
//   display: flex;
//   flex-direction: column;
  font-size: 10px;
//   position: relative;
//   top: 100px;
  color: white;
}